.container {
    background-color: #505357d8;
    padding: 1.5rem;
    padding-bottom: 0;
}

/* 565f68 */

ul {
    max-height: 65vh;
    overflow-y: auto;
    list-style: none;
    padding-right: 1rem;
}


li {
    padding: .5rem;  
    color: #ffffff;
    font-size: 18px;
    word-spacing: .3rem;
    background-color: #6161636b;
    margin-bottom: .75rem;
    border-radius: .25rem;
}

li:last-of-type {
    margin-bottom: 0;
}

.vote {
  display:inline-block;
  padding: 1em;
  margin: .25rem;
  border-radius: 2px;
  cursor: pointer;
  background-color:#8a8a8d6b ;
}
.vote:hover {
  background-color: #a1a1a56b;
}

.vote.up {
  color: rgb(108, 194, 108);
}

.vote.down {
  color: tomato;
}

/* Style croll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6161636b; 
  }   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


