<section class="container">

    <div class="row">

        <div class="quotes col-md-7">
            <h2 class="text-center" style="color: #fff;font-weight: 300;">Quotes</h2>

            <ul>
                <li *ngFor="let quote of quotes">
                    {{quote.author}}
                    {{quote.submitBy}}

                </li>
            </ul>

        </div>

        <div class=" new-quote col-md-5">
            
            <app-new-quote-form (newQuoteOut)="onNewQuote($event)"></app-new-quote-form>
        </div>

    </div>

</section>