span {
  display:inline-block;
  padding: .5rem;
  margin-left: .5rem;

  border-radius: 2px;

}
span.vote {

    cursor: pointer;
    background-color:#8a8a8d6b ;
  }
  .vote:hover {
    background-color: #a1a1a56b;
  }
  
  .vote.up {
    color: #baffb6;
  }
  
  .vote.down {
    color: #ffebc7;
  }

  .vote.delete {
    color: #f66145;
    float: right;
  }