span {
  display:inline-block;
  padding: .5rem;
  margin-left: .5rem;

  border-radius: 2px;

}
span.vote {

    cursor: pointer;
    background-color:#8a8a8d6b ;
  }
  .vote:hover {
    background-color: #a1a1a56b;
  }
  
  .vote.up {
    color: rgb(108, 194, 108);
  }
  
  .vote.down {
    color: tomato;
  }